<!-- your html code here -->
<h2>Contact</h2>

<p>For more information, please fill in your details and we will contact you.git</p>


<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <p class="text-end"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Submit
</button></p>
  </div>