<section class="heading-section text-center text-md-start">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2><strong>This First Heading</strong> <span class="text-muted">Will Catch Your Eye</span></h2>
          <p class="lead">
            This is a example text, this is a example text, this is a example text, this is a example text.
            This is a example text, this is a example text, this is a example text, this is a example text.
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img src="https://imgcdn.stablediffusionweb.com/2024/9/25/2045b1e3-38a9-42a1-a126-cc83d0c194f1.jpg" alt="Avatar" class="img-fluid rounded-circle w-50">
        </div>
      </div>
    </div>
  </section>